<p style="padding: 15px;"> This is the Home page of your app</p>
<div [ngStyle]="playGround" > <!-- for multi variable styling ng.style -->
    <h3>Demo of inbuilt pipes </h3>
    <ul>
    <!--can be an expression-->
    <li>{{ 'THIS USES INBUILT PIPELINE' | lowercase}} <span [style.font-weight]="'bold'">lowercase</span></li> 
    <!--can be a variable-->
    <li>{{ demo | uppercase}} <span [style.font-weight]="'bold'">uppercase</span></li>
    <li>{{ demo | titlecase}} <span [style.font-weight]="'bold'">titlecase</span></li>
    </ul>
    <a href="https://codecraft.tv/courses/angular/pipes/built-in-pipes/">For other Inbuilt Pipes refer here</a>
</div>

<div [ngStyle]="playGround" > <!-- for multi variable styling ng.style -->
    <h3>Demo of custom pipes </h3>
    <ul>
    <!--can be an expression-->
    <li>{{ test | reverseString}} <span [style.font-weight]="'bold'">reverseString</span></li> 
    <!--can be a variable-->
    <li>{{ test | appendString:"Look":"with param"}} <span [style.font-weight]="'bold'">appendString</span></li>
    <li>{{ test | customLowercase:"Look":"with inbuilt pipe"}} <span [style.font-weight]="'bold'">customLowercase</span></li>
    <li>{{ test | reverseString | appendString:"Look":"with param" | customLowercase:"Look":"with inbuilt pipe"}} <span [style.font-weight]="'bold'">chainedCustomLowercase</span></li>
    </ul>
    <a href="https://alligator.io/angular/custom-pipes-angular/">For other Inbuilt Pipes refer here</a>
</div>

<div [ngStyle]="playGround">
    <h3> structural directive example</h3>
        <div *ngFor="let item of [1,2,3,4]"> <!-- inbuilt structural directive ngFor -->
            <p *appTestStructuralDirective="1000 * item"> <!--custom structural directive -->
                {{item}}
            <p>
        </div>
    <a href="https://angular-2-training-book.rangle.io/advanced-angular/directives/creating_a_structural_directive">further readings</a>
</div>